{% extends 'base.html.twig' %}

{% block title %}
	Page 1
{% endblock %}

{% block content %}
	{% for page1 in page1 %}
		<div class="container">
			<div class="jumbotron mt-3">
				<div class="row featurette">
					<div class="col">
						<h2 class="featurette-heading">{{ page1.title }}</h2>
						<p class="lead">
							{{ page1.content | raw }}
						</p>
						{% if page1.btnTitle != null %}
							<p class="lead">
								<a class="btn btn-primary btn-lg" href="{{ page1.btnUrl }}" role="button">{{ page1.btnTitle }}</a>
							</p>
						{% endif %}
					</div>
					{% if page1.illustration != null %}
						<div class="col-md-5">
							<img src="uploads/{{ page1.illustration }}" class="img-fluid" alt="image">
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	{% endfor %}
{% endblock %}
