{% extends 'base.html.twig' %}

{% block title %}
	Page 3
{% endblock %}

{% block content %}
	{% for page3 in page3 %}
		<div class="container">
			<div class="jumbotron mt-3">
				<div class="row featurette">
					<div class="col">
						<h1>{{ page3.title }}</h1>
						{{ page3.content | raw }}
						{% if page3.btnTitle != null %}
							<a class="btn btn-primary btn-lg mt-3" href="{{ page3.btnUrl }}" role="button">{{ page3.btnTitle }}</a>
						{% endif %}
					</div>
				</div>
			</div>
			{% if page3.illustration != null %}
				<div class="col-md-5">
					<img src="uploads/{{ page3.illustration }}" class="img-fluid" alt="image3">
				</div>
			{% endif %}
		</div>
	{% endfor %}
{% endblock %}
