{% extends 'base.html.twig' %}

{% block title %}Edition d'une annonce
{% endblock %}

{% block content %}

	<div class="container">
		<h1 class="my-5">Modifier l'annonce :
			{{ad.name}}</h1>

		{{ form_start(form) }}

		<div class="row">
			<div class="col">
				<div class="card bg-light">
					<div class="card-header">
						<h3 class="card-title">Informations générales</h3>
					</div>
					<div class="alert alert-light">
						{{ form_row(form.name) }}
						{{ form_row(form.type) }}
						{{ form_row(form.age) }}
						{{ form_row(form.sexe) }}
						{{ form_row(form.size) }}
						{{ form_row(form.city) }}
					</div>
				</div>

				<div class="card bg-light mt-3">
					<div class="card-header">
						<h3 class="card-title">Détails de l'annonce</h3>
					</div>
					<div class="alert alert-light">
						{{ form_row(form.introduction) }}
						{{ form_row(form.content) }}
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card bg-light">
					<div class="card-header">
						<h3 class="card-title">Images de l'annonce</h3>
					</div>
					<div class="alert alert-light">
						<div>
							<img src="{{ asset('/uploads/' ~ ad.coverImage) }}" alt="CoverImage" width="300">
						</div>

						<div class="upload-image-strip">
							<button type="button" class="file-select-button btn btn-info">
								<i class="fas fa-edit"></i>
								<span class="name-file">
									Modifier l'image principale</span>
							</button>
							{{ form_row(form.coverImage, {'label': ' '}) }}
						</div>
					</div>
				</div>
				<div class="card bg-light mt-3">
					<div class="card-header">
						<h4 class="card-title">Images supplémentaires</h4>
					</div>
					<div class="alert alert-light">
						{% for image in ad.images %}
						<div class="row mt-2" id="{{ image.id }}">
							<div class="col-10">
								<div>
									<img src="{{ vich_uploader_asset(image, 'nameFile') }}" class="d-block w-100" alt="Firstslide">
								</div>
							</div>
							<div class="col-1">	
								<div class="js-delete" data-id="{{ image.id }}">
									<span class="btn btn-danger">X</span>
								</div>
							</div>
						</div>
						{% endfor %}
					
						 <input type="hidden" id="widgets-counter" value="{{ ad.images|length }}">
						 <div class="element" data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}">
						 </div>
						<button type="button" class="add_item_link btn btn-primary mt-2"  id="add-image" data-collection-holder-class="element">
						<i class="fas fa-plus"></i>
						Ajouter une image</button>
					</div>
				</div>
				<div class="alert alert-success mt-3">
					<button type="submit" class="btn btn-success btn-block">
						<i class="fas fa-check"></i>
						Enregistrer les modifications
					</button>
				</div>
			</div>
		</div>
		<div class="d-none">
			{{ form_rest(form) }}
		</div>
		{{ form_end(form) }}
	</div>

{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/ad.js') }}"></script>
	<script src="{{ asset('js/images.js') }}"></script>
{% endblock %}
